body {
    font-family: arial;
    background-image: url(../img/curtainBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    min-height: 90vh;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.winContainer {
    display: flex;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.425);
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 30;
}

.winMessageBox {
    margin: auto;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    padding: 25px 45px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

.messageHeader {
    margin-top: 0;
    font-size: 24px;
}

.credits {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.startGame {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 15px;
    background-color: #000;
    color: #fdbe32;
    display: inline;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ffcb5ba4;
    transition: 0.3s;
}

.startGame:hover {
    background-color: #00000094;
}

#confetti {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.canvasBox {
    position: relative;
    z-index: 10;
    background-image: url(../img/wheel.png);
    background-size: 820px auto;
    background-repeat: no-repeat;
    background-position: 50% -73px;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 40px 50px 130px 50px;
    display: none;
}

.spin {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: radial-gradient(#fbff00, #feaf51);
    left: calc(50% - 40px);
    top: calc(50% - 85px);
    text-align: center;
    color: #363636;
    font-size: 22px;
    font-weight: 900;
    line-height: 80px;
    border: 1px solid #674144;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    transition: 0.2s;
    z-index: 10;
}

.spin:hover {
    transform: scale(1.1);
}

.wheelPin {
    position: absolute;
    z-index: 9;
    width: 40px;
    height: 55px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(../img/pin.png);
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.wheelPin::after {
    content: "";
    position: absolute;
    top: 5px;
    left: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #fff;
    transform: rotate(-15deg);
}

.wheelPin.play {
    animation-name: wheelPlay;
    transform-origin: 50% 8px;
    transform: rotate(-15deg);
    animation-fill-mode: forwards;
}

@keyframes wheelPlay {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.coin {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: -6px;
    position: absolute;
    margin-left: 5px;
    background-size: auto 100%;
    background-image: url(../img/coin-anim.png);
    animation: coin-animation 0.5s steps(6) infinite;
}

@keyframes coin-animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -2340px 0;
    }
}

.wheel {
    width: 425px;
    height: 425px;
    background-image: url(../img/wheelCircle.png);
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.wheelspining {
    animation-name: wheelspining;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.0002,0.0001,0.001,0.9999);
}

@keyframes wheelspining {
    0% {
        transform: rotate(-2320deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wheelCont {
    transform-origin: 50% 50%;
}

.playAgainFunc {
    display: none;
}


/*  media queries  */

@media only screen and (max-width: 570px){
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .wheel {
        width: 80vw;
        height: 80vw;
        margin: auto;
    }

    .canvasBox {
        background-size: 155vw auto;
        background-position: 49% -14vw;
        width: 100%;
        padding: 7vw 10vw 35vw 10vw;
        overflow-y: hidden;
    }

    .wheelPin {
        top: 0vw;
    }

    .spin {
        width: 20vw;
        height: 20vw;
        left: 40vw;
        top: 38vw;
        font-size: 5vw;
        line-height: 20vw;
    }
}